body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #fff;
}

.navbar {
    width: 15vw;
    height: 100vh;
    background-color: #121213;
    color: #a0a0a0;
    display: flex;
    flex-direction: column;
}

.navbar li {
    list-style: none;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 20px;
}

.navbar img {
    width: 7vw;
    align-self: center;
}

a {
    text-decoration: none;
    color: #a0a0a0;
}

a:hover {
    color: #fff;
    transition: 0.5s;
}

.graphic h4 {
    font-size: 28px;
    margin-left: 10px;
}

.graphic {
    color: #000;
    margin: 0 30px;
}

.date {
    height: 300px;
}

.temperature {
    height: 30vh;
}

.collect {
    margin-left: 30px;
    background-color: rgb(245, 244, 244);
    width: 780px;
    height: 60px;
    margin-top: -200px;
}

.collect h4 {
    margin-left: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.images {
    display: flex;
    width: 200px;
    margin-left: 75px;
}

.box {
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: rgb(231, 230, 230);
    border-radius: 0 0 25px 25px;
}

.titles {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 18px;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}