body {
    background-color: #F5F6F7;
}
.content {
    background-color: #F5F6F7;
}

.content h2 {
    margin: 20px 10px;
}

.content p {
    margin: 0 20px;
}

.banner{
    margin-top: 20px;
    color: #fff;
    height: 1000px;
    width: 200px;
    background-image: url(../assets/images/ex.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.img_ex .container {
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 20px;
}

.agro {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url(../assets/images/agro.png);
}