/* Header */

.header {
    background-color: #121213;
    border-bottom: 3.5px solid #fff;
    position: sticky;
    top: 0;
    z-index: 3;
}

.container {
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .svg_icons {
    display: flex;
    align-items: center;
}

.imagens {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #121213;
    position: relative;
}

.navbar li {
    padding: 20px;
    list-style: none;
}

.header a {
    text-decoration: none;
    color: #a0a0a0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: #121213;
    position: relative;
    padding: 0 10px;
}

ul a::after {
    content: '';
    position: absolute;
    background-color: #f2f2f2;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

ul a:hover {
    color: #f2f2f2;
}

ul a:hover::after {
    width: 100%;
}

.logo {
    width: 5vw;
    background-color: #121213;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
}

.svg_icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#whatsapp {
    width: 1.5vw;
    fill: #a0a0a0;
}

#whatsapp:hover {
    fill: #fff;
    transition: 0.5s;
}

#email {
    width: 1.4vw;
    fill: #a0a0a0;
}

#email:hover {
    fill: #fff;
    transition: 0.5s;
}

#user {
    stroke: #a0a0a0;
    width: 1.4vw;
}

#user:hover .st0 {
    stroke: #fff;
    transition: 0.5s;
}

#dropdown {
    display: none;
    position: absolute;
    right: 2vw;
    flex-direction: column;
    border: solid #a0a0a0 2px;
    border-radius: 5px;
    padding: 10px 15px;
    z-index: 2;
    background-color: #121213;
}

#dropdown b {
    color: #a0a0a0;
    margin-bottom: 20px;
}

#dropdown a {
    margin-left: -7px;
}

#dropdown a:hover {
    color: #fff;
    transition: 0.5s;
}

/* Footer */

.footer {
    background-color: #121213;
    height: 150px;
    margin: 0;
    padding-top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}

.footer .container {
    display: flex;
}

.footer .container h4 {
    justify-content: start;
    align-self: start;
    margin: 15px;
    padding: 0;
    display: flex;
    color: #a0a0a0;
}

.footer a {
    text-decoration: none;
}

.footer .container h4:hover {
    color: #fff;
    transition: 0.5s;
}

footer {
    border-top: solid 3px transparent;
    background-color: #F5F6F7;
    flex: 1;
    height: max-content;
}

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 5% 0;
}

.map h2 {
    color: #212121;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 5% 0;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 5% 0;
    text-align: center;
}

.contact h2 {
    color: #212121;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 8% 0;
}

.copyright {
    display: flex;
    flex-direction: row;
    background-color: #121213;
}

.copyright .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.copyright span {
    color: #fff;
}

/* Cards */

.social {
    background-color: #fff;
    padding: 50px 0;
}

.social .container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.social h2 {
    display: flex;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    align-self: center;
    justify-self: center;
    text-align: center;
    color: #121213;
    margin: 0;
}

.social .boxes {
    display: flex;
    align-items: flex-start;
}

.social .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 33%;
}

.social .box img {
    width: 150px;
    align-self: center;
    margin-bottom: 25px;
}

.box h4 {
    margin-bottom: 10px;
}

.social .titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    text-align: justify;
}

.social p {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    text-align: justify;
}