body {
    display: flex;
    background-color: #fff;
    height: 100vh;
}

.navbar {
    width: 15vw;
    height: 100vh;
    background-color: #121213;
    color: #a0a0a0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar li {
    list-style: none;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 1.8vw;
}

.navbar img {
    width: 7vw;
    align-self: center;
}

a {
    text-decoration: none;
    color: #a0a0a0;
}

a:hover {
    color: #fff;
    transition: 0.5s;
}

.graphic h4 {
    font-size: 28px;
    margin-left: 10px;
}

.graphic {
    color: #000;
    margin: 0 30px;
}

.date {
    height: 300px;
}

.temperature {
    height: 30vh;
}

.container {
    display: flex;
    height: 100vh;
    width: 80vw;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

.images {
    display: flex;
    width: 200px;
    margin-left: 75px;
}

.box {
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: rgb(231, 230, 230);
    border-radius: 0 0 25px 25px;
}

.titles {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 18px;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}

.alertas {
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    align-items: center;
}

.alertas h2 {
    background-color: #ddd;
    color: #020202;
}

.div_alertas {
    overflow-y: auto;
}