.book {
    margin: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    width: 90vw;
}

.book li {
    /* list-style: none; */
    margin-left: 10px;
}

.content .container {
    padding: 0;
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}