.banner {
  color: #fff;
  height: 600px;
  /* background-image: url('../assets/images/cafe-principal.jpg'); */
  /* background-size: cover;
  background-repeat: no-repeat; */
}

.container .banner p {
  margin: 0;
  padding: 0;
  width: 250px;
  font-size: 42px;
  margin-left: 400px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}