body {
    background-image: url(../assets/images/cafe-principal-blur.jpg);
}

.container_login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.boxes_login {
    height: max-content;
    width: 30vw;
    background-color: #121213;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
    padding: 2%;
}


.boxes_login input {
    display: flex;
    /* opacity: 100%; */
    padding: 10px 60px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.boxes_login button {
    padding: 10px 60px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    background-color: #F7B267;
}

.boxes_login div img {
    width: 5vw;
    margin-bottom: 10px;
}